{% extends 'blog/layout.html' %}

{% block content %}
<div class="card">
    <h5 class="card-header">{{ post.titulo }}</h5>
    <div class="card-body">
        <p class="card-text">
            {{ post.contenido }}
        </p>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Interacciones</h5>
    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="btn-group mb-4" role="group">
                <a href="#" class="btn btn-success">Like {{ post.num_likes }}</a>
                <a href="#" class="btn btn-danger">Dislike {{ post.num_dislikes }}</a>
            </div>
            <form method="POST">
                <div class="form-group">
                    <label for="texto">Ingrese su comentario:</label>
                    <textarea name="texto" id="texto" class="form-control"></textarea>
                    <input type="submit" value="Comentar" class="btn btn-secondary btn-block mt-3">
                </div>
            </form>
        {% else %}
            <a href="{% url 'blog:iniciarSesion' %}" class="btn-link">Inicie sesión para interactuar...</a>
        {% endif %}
    </div>
</div>
<!-- Agregar comenaterios -->
{% endblock %}