{% extends 'blog/layout.html' %}

{% block content %}
<div class="card">
    <h5 class="card-header">{{ post.titulo }}</h5>
    <div class="card-body">
        <p class="card-text">
            {{ post.contenido }}
        </p>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Interacciones</h5>
    <div class="card-body">
        {% if user.is_authenticated %}
        <div class="btn-group mb-4" role="group">
            <a href="{% url 'blog:likePost' post.id %}" class="btn btn-success">Like {{ post.numLikes }}</a>
            <a href="{% url 'blog:dislikePost' post.id %}" class="btn btn-danger">Dislike {{ post.numDislikes }}</a>
        </div>
        <form action="{% url 'blog:agregarComentario' post.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="texto">Ingrese su comentario:</label>
                <textarea name="texto" id="texto" class="form-control"></textarea>
                <input type="submit" value="Comentar" class="btn btn-secondary btn-block mt-3">
            </div>
        </form>
        {% else %}
        <a href="{% url 'blog:iniciarSesion' %}" class="btn-link">Inicie sesión para interactuar...</a>
        {% endif %}
    </div>
</div>
<div class="card mb-4">
    <h5 class="card-header">Comentarios</h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for comentario in comentarios %}
            <li class="list-group-item">
                <p><strong>Usuario:</strong> {{ comentario.usuario.username }}</p>
                <p>{{ comentario.contenido }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}