{% extends 'blog/layout.html' %}

{% block content %}
<h2 class="mb-3">Iniciar Sesión</h2>
<form action="{% url 'blog:iniciarSesion' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre de usuario...">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="contraseña" placeholder="Contraseña...">
    </div>
    <input type="submit" value="Iniciar sesión" class="btn btn-block btn-primary my-3">
</form>
<a href="{% url 'blog:registrarNuevoUsuario' %}" class="btn-link">¿No tiene cuenta? Regístrese</a>
{% endblock %}